body{
    font-family: "Microsoft Yahei";
}
div#danmu{
    width:80%;
    height:510px;
    line-height: 25px;
    border:2px solid black;
    margin: 50px auto 20px;
    overflow: hidden;
    position:relative;
}
input.form-control{
    width:350px;
    margin: auto;
    font-size:16px;
}

div#options{
    width:415px;
    margin: 10px auto 50px;
}

button.btn.btn-default{
    width:200px;
    margin-right: 5px;
    font-weight:600;
    font-size:16px;    
}

button#fire{
    border-color:orange;
    color:orange;
}
button#fire:hover{
    background-color:orange;
    color:white;
}
button#clear{
    border-color:gray;
    color:gray;
}
button#clear:hover{
    background-color:gray;
    color:white;
}